<a href="https://colab.research.google.com/github/Sahriar-47/it22047B51/blob/main/19DecSahriar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part-01 (Variarble)

In [2]:
x = 5
y = "sahriar"
print(x)
print(y)

5
sahriar

In [5]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [6]:
x = 5
y = "sahriar"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
x = "sahriar"
y = 'ahmad'
print(x)
print(y)

sahriar
ahmad

In [8]:
a = 4
A = "sahriar"
print(a)
print(A)

4
sahriar

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [10]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [13]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [14]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [15]:
x = 5
y = 10
print(x + y)

15

In [16]:
x = 5
y = "John"
print(x, y)

5 John

In [17]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [18]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [19]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Part-02 (Data Type)

In [22]:
x = 5
print(type(x))
x = "hello world!"
print(type(x))
x = 5.8
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>